body {
  background: #313d38;
  min-width: 980px;
  overflow: auto;
}
.container {
  min-width: 933px;
}
.main.container {
  margin-top: -51px;
  position: relative;
  overflow: hidden;
  margin-bottom: -21px;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
header {
  background: #00b5ad;
  height: 350px;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
header.pink {
  background: #e03997;
}
header.yellow {
  background: #fbbd08;
}
header.purple {
  background: #a333c8;
}
header.blue {
  background: #2185d0;
}
header.grey {
  background: #8a8a8a;
}
header.olive {
  background: #a2d72f;
}
header .background {
  background: url("../img/mopattern.jpg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.01;
}
header .container {
  padding-top: 40px;
  position: relative;
}
header .container .menu {
  border: none;
}
header .container .menu .item {
  padding-bottom: 10px;
  padding-top: 10px;
}
header .container .jumbotron {
  width: 100%;
  text-align: center;
}
header .container .jumbotron .header {
  color: #fff;
  margin-top: 70px;
  font-size: 3em;
  font-weight: normal;
}
.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 330px);
  float: left;
  border-top-left-radius: 4px;
  overflow: hidden;
  position: relative;
  min-height: 900px;
}
.main-section .section-header {
  background: rgba(0,0,0,0.1);
  width: 100%;
  height: 50px;
  border-right: 1px solid rgba(0,0,0,0.15);
  padding: 13px 15px;
}
.main-section .section-content {
  flex: 1;
  background: #fff;
  border-right: 1px solid rgba(0,0,0,0.1);
  padding: 13px 15px;
}
.main-section .section-content .article-wrapper {
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.main-section .section-content .article-wrapper .post-meta {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.main-section .section-content .article-wrapper .post-meta li {
  display: inline;
  margin-right: 20px;
  color: rgba(0,0,0,0.4);
}
.main-section .section-content .article-wrapper .post-meta li i {
  color: rgba(0,0,0,0.87);
}
.main-section .section-content .article-wrapper .post-meta li img {
  display: inline;
  box-shadow: none;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-top: -2px;
}
.main-section .section-content .article-wrapper .post-meta li a {
  color: rgba(0,0,0,0.4);
}
.main-section .section-content .article-wrapper .post-meta li a:hover {
  text-decoration: underline;
}
.main-section .section-content .article-wrapper blockquote {
  border-left: 4px solid rgba(0,0,0,0.2);
  padding-left: 10px;
}
.main-section .section-content .article-wrapper blockquote footer {
  background: #fff;
  color: rgba(0,0,0,0.87);
  height: 100%;
  border-top: none;
}
.main-section .section-content .article-wrapper blockquote footer cite:before {
  content: "—";
  padding: 0 5px;
}
.main-section .section-content .article-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 0 8px 0px #bebebe;
  margin-bottom: 20px;
}
.main-section .section-content .article-wrapper figure.highlight {
  margin: 20px 0 20px 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 0;
}
.main-section .section-content .article-wrapper figure.highlight figcaption {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  padding: 5px 10px;
  background: rgba(0,0,0,0.1);
  font-weight: bold;
}
.main-section .section-content .article-wrapper figure.highlight .gutter {
  padding: 0 10px 0 10px;
  border-right: 1px solid rgba(255,255,255,0.05);
}
.main-section .section-content .article-wrapper figure.highlight .gutter .line,
.main-section .section-content .article-wrapper figure.highlight .gutter .hljs-number {
  color: rgba(255,255,255,0.4) !important;
}
.main-section .section-content .article-wrapper figure.highlight .code {
  padding-left: 10px;
}
.main-section .section-content .article-wrapper .video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;
}
.main-section .section-content .article-wrapper .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-section .section-content .column .card .content .meta {
  margin-bottom: 8px;
}
.main-section .section-content .column .card .content .description {
  display: inline;
}
.main-section .section-content .column .card .content .post-img {
  width: 85px;
  float: left;
  margin-right: 12px;
  border-radius: 2px;
}
.main-section .section-content .column .card .extra.content a:hover {
  text-decoration: underline;
  color: rgba(0,0,0,0.4);
}
.main-section .section-content .column.paginator {
  text-align: center;
  margin-bottom: 13px;
}
.sidebar {
  flex: 0;
  display: flex;
  flex-direction: column;
  min-width: 330px;
  float: right;
  border-top-right-radius: 4px;
}
.sidebar .sidebar-header {
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 50px;
  padding: 13px 15px;
  color: #fff;
}
.sidebar .sidebar-header p {
  float: left;
  font-size: 1.14rem;
  margin-bottom: 0;
}
.sidebar .sidebar-header .social-icons {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.sidebar .sidebar-header .social-icons li {
  display: inline;
}
.sidebar .sidebar-header .social-icons li a {
  color: #fff;
  font-size: 1.8rem;
}
.sidebar .sidebar-content {
  flex: 1;
  overflow: hidden;
  background: #fff;
  clear: both;
  padding: 13px 15px;
}
.sidebar .sidebar-content div {
  margin-bottom: 13px !important;
}
.breadcrumb a.section {
  color: #fff;
}
.breadcrumb a.section:hover {
  color: #fff;
  text-decoration: underline;
}
.breadcrumb .divider {
  color: #fff !important;
}
.breadcrumb .active.section {
  color: #fff;
}
footer {
  height: 120px;
  width: 100%;
  background: rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.3);
}
footer .container {
  height: 100px;
  margin-top: 20px;
  padding-top: 40px;
}
footer .container p {
  display: inline;
}
footer .container p.credit {
  float: right;
}
footer .container p span {
  font-weight: bold;
}
footer .container p span a {
  color: rgba(255,255,255,0.4);
}
footer .container p span a:hover {
  color: rgba(255,255,255,0.6);
}
/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}

